

h1{
    text-align: left;
    padding: 20px;
    color: black;
    border-radius: 20px;

}

.text-right{
    text-align: center;

}

.container{
    display:flex;
}

.container-1{
    float: center;
    align-content: center;
    padding: 20px;


}
.any-plot{
    padding:20px;

}


.main-row{
    
    text-align: center;

}
.navbar-brand{
    padding: 10px;
    margin: 0px;
    background-color: rgba(50, 115, 220, 0.3);
    border-radius: 20px;

}
.humid{
    float: right;

}
.big-pad{
    padding:20px;
}