

h1{
    text-align: left;
    padding: 20px;
    color:black;

}

.text-right{
    text-align: center;

}

.container{
    display:flex;

}

.container-1{
    display:flex;
    align-content: center;
    padding: 20px;


}
.navbar-brand{
    padding: 10px;
    margin: 2px;

}
.humid{
    float: right;

}
.data{
    display: flex;
    padding: 20px;;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}




